<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table,td{
            border: 3px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>  
   
   <%-gender%>
     <br> <br>
   <%-language%>
   <br> <br>
   <%-university%>
   <br> <br>
   <%-subject%>
   <br> <br>
   <%-course%>
   <br> <br>
   <%-collage%>
   <br> <br>
   <%-department%>
   <br> <br>
   <%-relation%>
   <br> <br>
   <%-location%>
   <br> <br>
   <%-result%>
</body>
</html> 
